<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}"> AlgaWorks Contatos </a></li>

                <li><a th:href="@{/contatos}"> Listar </a></li>

                <li><a th:href="@{/contatos/novo}"> Novo </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Seja bem vindo(a)!</h1>
        </section>
    </main>
    </body>
</html>